<%= simple_form_for(@book) do |f| %>

  <div class="field">
    <%= f.input :title %>
   
  </div>
  <div class="field">
   <%= f.input :description %>
  </div>
  
  <div class="field">
    <%= f.association :author %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
